.text-carousel-wrapper {
    height: 60vh;
    padding: 40px 20px;
    text-align: center;
}

.text-carousel-wrapper .text-carousel-heading {
    background: #212529;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    margin-bottom: 10px;
    color: #ff5a3c;
}

.text-carousel-wrapper .text-carousel-heading span {
    color: orange;
}

.text-carousel-wrapper .text-carousel-sub {
    color: #aaa;
    margin-bottom: 30px;
}

.text-carousel-wrapper .carousel-box {
    display: flex;
    align-items: center;
    position: relative;
}

.text-carousel-wrapper .carousel-track {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px 0;
    scrollbar-width: none;
}

.text-carousel-wrapper .carousel-track::-webkit-scrollbar {
    display: none;
}

.text-carousel-wrapper .card {
    flex: 0 0 auto;
    width: 200px;
    background: white;
    color: black;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
}

.text-carousel-wrapper .card h3 {
    background: linear-gradient(90deg, #f77f00, #000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.text-carousel-wrapper .card p {
    font-size: 0.9rem;
    color: #444;
}


.text-carousel-wrapper .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #ff5400;
    border: none;
    color: white;
    font-size: 1.8rem;
    padding: 6px 16px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
}

.text-carousel-wrapper .arrow.left {
    left: -5px;
}

.text-carousel-wrapper .arrow.right {
    right: -5px;
}


@media (max-width: 600px) {
   .text-carousel-wrapper .card {
        width: 150px;
        padding: 15px;
    }

    .text-carousel-wrapper .arrow {
        font-size: 1.4rem;
        padding: 5px 10px;
    }
}