.whatweserve-offer-container{
  width: 90%;
  margin: auto;
  padding: 20px 0;
  background: #fff;
  margin-bottom: 10%;
}

.whatweserve-offer-container .offer-card {
  color: #000;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
  min-height: 200px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
     transform: translateY(-5px);
}
.whatweserve-offer-container .offer-card:hover{
  transform: translateY(-5px);
  box-shadow: 0px 10px 25px #fc7355;
}

.whatweserve-offer-container .offer-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.whatweserve-offer-container .offer-card p {
  font-size: 16px;
  margin-bottom: 20px;
}

.whatweserve-offer-container .offer-card button {
  background: white;
  color: black;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.whatweserve-offer-container  .offer-card button:hover {
  background: #f1f1f1;
}
