.hero-video-container {
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;
}

.hero-video-container .hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.hero-video-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 2;
}

.hero-video-container .hero-content {
  position: relative;
  z-index: 3;
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 20px;
}

.hero-video-container .hero-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
   background: linear-gradient(to right, #eb5e28, #252422);
   background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-video-container.hero-content p {
  font-size: 1.2rem;
}

/* Responsive */
@media (max-width: 768px) {
    .hero-video-container{
        height: 20vh;
    }
  .hero-video-container .hero-content h1 {
    font-size: 2rem;
  }

  .hero-video-container .hero-content p {
    font-size: 1rem;
  }
}
