.projects-section {
  background-color: #000;
  color: white;
  padding: 60px 20px;
}

.projects-grid {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

/* .projects-grid img {
  width: 100%;
  max-width: 250px;
  border-radius: 8px;
  object-fit: cover;
} */

@media screen and (max-width: 768px) {
  .projects-grid {
    flex-direction: column;
    align-items: center;
  }

  .projects-content h2 {
    font-size: 24px;
  }
}
