/* Footer.css */

.footer {
  background: linear-gradient(135deg, #1e2a38, #2f3e4e);
  color: #ffffff;
  padding: 40px 20px 20px;
  font-family: 'Segoe UI', sans-serif;
}

.newsletter {
  text-align: center;
  margin-bottom: 40px;
}

.newsletter h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

.newsletter p {
  font-size: 14px;
  max-width: 600px;
  margin: 0 auto 20px;
  color: #d3d3d3;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.newsletter-form input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 250px;
}
.newsletter-form input:hover{
    background: transparent;
    color: #fff;
}

.newsletter-form button {
  padding: 10px 20px;
  background-color: #ff5400;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer-website {
  font-size: 13px;
  margin-top: 10px;
  color: #aaa;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: left;
  margin-top: 30px;
}

.footer-column {
  margin: 20px;
  min-width: 180px;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #fff;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  font-size: 14px;
  margin-bottom: 8px;
  color: #ccc;
  cursor: pointer;
}
.footer-column li:hover{
    padding-left: 10px;
    border-bottom: 1px solid #fff;
}

.footer-column p {
  font-size: 14px;
  color: #ccc;
}

.call-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background: #ff5400;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
  color: #aaa;
}


@media (max-width: 768px) {
  .footer-links {
    flex-direction: column;
    align-items: center;
  }

  .newsletter-form {
    flex-direction: column;
    align-items: center;
  }
}
