.life-about-section {
  background: #f9f9f4;
  padding: 40px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.life-about-section .life-about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
}

.life-about-section .image-section img {
  width: 100%;
  max-width: 500px;
    filter: drop-shadow(1px 1px 20px rgba(0,0,0,0.4));
}

.life-about-section .text-section {
  max-width: 600px;
}

.life-about-section .label {
  background: #e6ede0;
  padding: 4px 10px;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 14px;
  border-radius: 4px;
}

.life-about-section .text-section h2 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #2c2c2c;
}

.life-about-section .text-section p {
  font-size: 16px;
  color: #444;
  line-height: 1.6;
  margin-bottom: 20px;
}

.life-about-section .stats {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.life-about-section .stats div {
  text-align: center;
}

.life-about-section .stats strong {
  display: block;
  font-size: 20px;
  color: #0c3d3e;
}

.life-about-section .button {
  background-color: orangered;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.life-about-section .button:hover {
  background: #161616;
  color: #fff;
}

/* Responsive */
@media (max-width: 768px) {
.life-about-section .life-about-content {
    flex-direction: column;
    text-align: center;
  }

 .life-about-section .stats {
    justify-content: center;
  }
}
